In [1]:
import pandas as pd

# # Reading Data

In [142]:
df = pd.read_csv('data.csv')

In [56]:
df.head(1603)

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0      98.012524         1   76          0           1              1
1     100.473210         0   73          1          -1              0
2     101.691218         0   69          0           0              0
3     100.464495         1    6          1           1              0
4     101.673545         1   57          0           0              0
...          ...       ...  ...        ...         ...            ...
1598  100.655153         1   48          0          -1              1
1599  100.340876         0   38          0          -1              1
1600  100.512672         0   78          0           1              1
1601   98.244726         0   71          0          -1              0
1602  101.423308         1   16          0           1              1

[1603 rows x 6 columns]

In [8]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
3463   99.963905         0   33          0           0              1
3464  100.316799         1   42          0           1              1
3465  101.744893         1   57          1           1              1
3466   99.505604         0   98          1          -1              1
3467  101.729236         1   22          0           0              0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3468 entries, 0 to 3467
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          3468 non-null   float64
 1   bodyPain       3468 non-null   int64
 2   age            3468 non-null   int64
 3   runnyNose      3468 non-null   int64
 4   diffBreath     3468 non-null   int64
 5   infectionProb  3468 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 162.7 KB

In [14]:
df['diffBreath'].value_counts()

-1    1172
 0    1162
 1    1134
Name: diffBreath, dtype: int64

In [15]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,3468.000000,3468.000000,3468.000000,3468.000000,3468.000000,3468.000000
mean,100.004040,0.493080,52.987601,0.507785,-0.010957,0.486736
std,1.158853,0.500024,27.537585,0.500011,0.815480,0.499896
min,98.004223,0.000000,6.000000,0.000000,-1.000000,0.000000
25%,98.985404,0.000000,29.000000,0.000000,-1.000000,0.000000
50%,100.011809,0.000000,53.000000,1.000000,0.000000,0.000000
75%,101.019045,1.000000,77.000000,1.000000,1.000000,1.000000
max,101.999690,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Spliting

In [16]:
import numpy as np

In [97]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [124]:
train, test = data_split(df, 0.3)

In [125]:
len(test)

1040

In [126]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test  = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [127]:
X_test

array([[101.42330766,   1.        ,  16.        ,   0.        ,
          1.        ],
       [100.47187643,   1.        ,  61.        ,   0.        ,
         -1.        ],
       [ 98.30813651,   0.        ,  34.        ,   1.        ,
          0.        ],
       ...,
       [101.13442582,   0.        ,  35.        ,   1.        ,
          1.        ],
       [100.31062582,   0.        ,  26.        ,   1.        ,
         -1.        ],
       [100.95088782,   1.        ,  34.        ,   1.        ,
         -1.        ]])

In [128]:
Y_train = train[['infectionProb']].to_numpy().reshape(len(train),)
Y_test = test[['infectionProb']].to_numpy().reshape(len(test),)

In [129]:
Y_train

array([1, 1, 1, ..., 0, 0, 0])

In [130]:
from sklearn.linear_model import LogisticRegression

In [131]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [140]:
infProb = clf.predict_proba([[100,1,50,1,0]])

In [141]:
infProb[0][1]*100

48.38611324615205